---
layout: default
---
<!-- page.html -->
<div class="post">
  <header class="post-header">
    {% if page.cover_image %}
    <img src="{{ page.cover_image }}" alt="Projects Cover Image" style="max-height: 200px; width: 100%; object-fit: cover;">
    {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
     <!-- Add badges below this line -->
     <div class="badges">
      <!-- Replace these paths with the actual paths to your badge images -->
      <!-- <img alt="Static Badge" src="https://img.shields.io/badge/NLP-%23AED6F1">
      <img alt="Static Badge" src="https://img.shields.io/badge/CV-%23C39BD3">
      <img alt="Static Badge" src="https://img.shields.io/badge/LLMs-%23F7DC6F">
      <img alt="Static Badge" src="https://img.shields.io/badge/VLMs-%23F08080%09?logoColor=black">
      <img alt="Static Badge" src="https://img.shields.io/badge/GenAI-%23ABEBC6"> -->


    </div>
  </header>

  <article>
    {{ content }}
  </article>
</div>
